$regular: 200;
$medium: 400;
$semibold: 600;
$bold: 700;
$danger-color: #d75949;
$success-color: #009688;
$white: #FFF;
$grey-box-shadow-color:#757575;

$on-xsmall: "(max-width: 320px)";
$up-xsmall: "(min-width: 320px)";
$on-small: "(max-width: 575px)";
$up-small: "(min-width: 576px)";
$on-mobile: "(max-width: 767px)";
$up-mobile: "(min-width: 768px)";
$on-tablet: "(max-width: 991px)";
$up-tablet: "(min-width: 992px)";
$on-desktop: "(max-width: 1199px)";
$up-desktop: "(min-width: 1200px)";
